* {
     margin: 0;
     padding: 0;
     font-family: 'poppins', sans-serif;
     box-sizing: border-box;
}
body {
  background: url('img2.jpg') no-repeat center center/cover;
  height: 100vh;     
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(51, 66, 238, 0.712); /* Overlay for readability */
  z-index: 1;
}

.app {
  background: #49073d;
  width: 550px;          /* Normal card look for desktop */
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.app h1{
     font-size: 30px;
     color: rgb(241, 235, 104);
     font-weight: 600;
     border-bottom: 5px solid #d4e8ec;
     padding-bottom: 10px;
}
.quiz{
     padding: 20px;
}
 

.quiz h2{
font-size: 25px;
color: rgb(241, 235, 104);
font-weight: 600;
}
.btn{
     background: #9ee8f1;
     color: #121101;
     font-weight: 500;
     width: 100%;
     border: 2px solid #111100;
     padding: 10px;
     margin: 10px 0;
     text-align: left;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.4s;
}
.btn:hover:not([disabled]){
     background: rgb(241, 235, 104);
     color:rgb(1, 14, 26);
}
.btn:disabled{
     cursor: no-drop;
}
#next-btn{
     background: #1bca00;
     color: #000000;
     font-weight: 700;
     width: 150px;
     border:0;
     padding: 10px;
     margin: 20px auto 0;
     border-radius: 4px;
     cursor: pointer;
     display: none;
}
.correct{
     background: #1bca00;
}
.incorrect{
     background: rgb(219, 34, 34);
}